:root {
    --font-family-primary: "Dela Gothic One", Helvetica;
    --font-family-secondary: "Anybody", Helvetica;
    --font-size-h1: 6.4rem;
    --font-size-h2: 4rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 2rem;
    --font-size-h5: 1.6rem;
    --font-size-h6: 1.4rem;
    --font-size-h1-mobile: 4rem;
    --font-size-h2-mobile: 2.8rem;
    --font-size-h3-mobile: 2.4rem;
    --font-size-h4-mobile: 2rem;
    --font-size-h5-mobile: 1.6rem;
    --font-size-h6-mobile: 1.4rem;
    --font-size-title: 2rem;
    --font-size-body: 1.6rem;
    --font-size-label: 1.2rem;
    --line-height-125: 1.25;
    --line-height-150: 1.5;
    --line-height-160: 1.6;
    --color-radial-gradient: radial-gradient(rgba(234, 219, 194, 0.25), rgba(52, 77, 125, 0.1));
    --color-linear-gradient-light: linear-gradient(to right, rgba(234, 219, 194, 0.05), rgba(122, 154, 219, 0.05));
    --color-linear-gradient: linear-gradient(to right, rgba(234, 219, 194, 0.2), rgba(122, 154, 219, 0.2));
}


[data-themes-mode="dark"] {
    --color-surface: rgba(33, 42, 55, 1);
    --color-primary: rgb(234, 219, 194);
    --color-secondary: rgb(217, 213, 206);
    --color-on-primary: rgb(33, 42, 55);
    --color-neutral: rgb(192, 202, 222);
    --color-bluring-low: rgba(192, 202, 222, 0.05);
    --color-bluring-medium: rgba(192, 202, 222, 0.15);
    --color-bluring-high: rgba(33, 42, 55, 0.15);
    --color-bluring-highest: rgba(33, 42, 55, 0.40);
    --color-backdrop-modal: rgba(33, 42, 55, 0.9);
}
  
[data-themes-mode="light"] {
    
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-125);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-125);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-125);
}
h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-150);
}

h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-150);
}

h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-150);
}

p, a {
    font-size: var(--font-size-body);
    font-family: var(--font-family-secondary);
    line-height: var(--line-height-160);
}

.title {
    font-size: var(--font-size-title);
    font-weight: 700;
}

.label {
    font-size: var(--font-size-label);
}